<meta name="viewport" content="width=device-width,initial-scale=1">

<%# autoComplete %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="d_pokemon_name">
  <span>■防御ポケモン : <span style="vertical-align:unset;" id="js-d_pokemon_name"> </span></span>
</div>
<%= form_with url:root_path, method: 'get' do |form| %>
  <table>
    <%# Input : 防御ポケモン名 %>
    <tr>
      <td>
        <%= form.label :d_pokemon_name, "ポケモン" %>
        <%= form.text_field :d_pokemon_name, placeholder: "ポケモン名を入力", class: "js-search" %>
      </td>
    </tr>
    <%# Input : 性格 ^ - v %>
    <tr>
      <td>
        <%= form.label :seikaku, "性格" %>
        <%= form.select :seikaku, {"性格なし(-)":0,"ぼうぎょ(↑)":1, "とくぼう(↑)":2, "ぼうぎょ(↓)":3,"とくぼう(↓)":4} %>
      </td>
    </tr>
    <%# Input : 持ち物 %>
    <tr>
      <td>
        <%= form.label :item, "持ち物" %>
        <%= form.select :item, {"持ち物なし":0, "各種半減の実(ダメージ-50%)":1, "しんかのきせき(ぼうぎょ・とくぼう1.5倍)":2, "ぼうだんチョッキ(とくぼう1.5倍)":3} %>
      </td>
    </tr>
    <%# Input : 努力値 N H HB HD %>
    <tr>
      <td>
        <%= form.label :effort, "努力値" %>
        <%= form.select :effort, {"無振り":0, "H振り":1, "HB振り":2, "HD振り":3} %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.submit "検索" %>
      </td>
    </tr>


  </table>
<% end %>
<div class="result_container">
</div>

<%# ページトップに戻るボタン %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
<div id="page_top"><a href="#"></a></div>
<script>

// スクロールで追加の表示
var i=20;
$(window).on('scroll', function () {
var doch = $(document).innerHeight(); //ページ全体の高さ
var winh = $(window).innerHeight(); //ウィンドウの高さ
var bottom = doch - winh; //ページ全体の高さ - ウィンドウの高さ = ページの最下部位置
if (bottom * 0.96 <= $(window).scrollTop()) {
  i+=5;
  $('li.calc_result').slice(0, i).show();
}
});

// ページトップに戻るボタン
$('#page_top').on('click', function(e) {
  e.preventDefault();
  $(window).scrollTop(0);
  console.log($.fn.jquery);
})

// 
$(function(){
  $(document).on("click", "li.calc_result", function() {
    $(this).next().toggle();
  });
});

// AutoComplete
  var PokeList = <%= raw(@pokeList) %>;
  $('.js-search').autocomplete({
    source: PokeList,
    minLength: 2
  })
</script>